.font-alpina-light {
  font-family: 'Alpina-Light', sans-serif;
}

.font-ttcommons-demibold {
  font-family: 'TTCommons-DemiBold', sans-serif;
}

.font-ttcommons-regular {
  font-family: 'TTCommons-Normal', sans-serif;
}

.font-ttcommons-medium {
  font-family: 'TTCommons-Medium', sans-serif;
}
